.navbar {
    z-index: 199;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    height: 10vh;
    align-items: center;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.nav-logo {
    margin-left: 100px;
    align-items: center;
    margin-top: 10px;
}

@media screen and (max-width:768px) {
   .navbar{
    background-color: #BB0D2A;
    z-index: 200;
   } 
   .nav-logo {
    margin: auto;
    align-items: center;
    margin-top: 10px;
}

}