.flex-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
    padding: 0;
    width: 50%;
    justify-content: center;
    height: 80vh;
}

.btn {
    height: 10vh;
}